# Per project ViM settings
.vimrc

# Intellij IDEA settings
.idea/

# Codium settings
.vscode/

# Do not put record of failed runs into repository
*.retry

# Test files
test*
*.bak
templates/test*
files/test*

.lock